.main__footer  {
	// padding: $is_50;
	background-color: $blackColor;
}

.footer__copyright  {
	background-color: $blackColor;
}

.footer__note {
	color: $sectionTitle !important;
	font-size: $is_12;
	text-align: center;
	padding: $is_20 0;
	border-top: 1px solid #343a40;
	background-color: $blackColor;
}

.footer {
	line-height: 1.5em;
	padding: $is_20;
	.copy {
		color: $sectionTitle;
	}
	.footer__brandName {
		color: $whiteColor;
		font-size: $is_30;
		font-weight: 700;
		font-family: $titleFont;
		margin: $is_10 0;
	}
	.the__title {
		color: $sectionTitle !important;
		font-family: $defaultFont !important;
		font-size: $is_14 !important;
		font-weight: 600 !important;
		margin: $is_10 0;
		letter-spacing: 2px;
		vertical-align: center;
		text-transform: uppercase;
	}
	.list__itemLink {
		color: #656D78;
		text-decoration: none;
		&:hover {
			color: $whiteColor;
			text-decoration: none;
		}
	}
}

.footer {
  &:nth-of-type(1) {
    @include media-breakpoint-up(xs) {
      // Larger than sm: 480px
      display: block;
      @include make-col(12);
      @include make-col-ready($gutter: $grid-gutter-width);
    }
    @include media-breakpoint-up(sm) {
      // Larger than sm: 480px
      display: block;
      @include make-col(12);
      @include make-col-ready($gutter: $grid-gutter-width);
    }
    @include media-breakpoint-up(md) {
      // Smaller than md: 768px
      display: block;
      @include make-col(5);
      @include make-col-ready($gutter: $grid-gutter-width);
    }
    @include media-breakpoint-up(lg) {
      // Smaller than md: 768px
      display: block;
      @include make-col(5);
      @include make-col-ready($gutter: $grid-gutter-width);
    }
  }

  &:nth-of-type(2) {
    @include media-breakpoint-up(xs) {
      // Larger than sm: 480px
      display: block;
      @include make-col(12);
      @include make-col-ready($gutter: $grid-gutter-width);
    }
    @include media-breakpoint-up(sm) {
      // Larger than sm: 480px
      display: block;
      @include make-col(12);
      @include make-col-ready($gutter: $grid-gutter-width);
    }
    @include media-breakpoint-up(md) {
      // Smaller than md: 768px
      display: block;
      @include make-col(3.5);
      @include make-col-ready($gutter: $grid-gutter-width);
    }
    @include media-breakpoint-up(lg) {
      // Smaller than md: 768px
      display: block;
      @include make-col(3.5);
      @include make-col-offset(2)
      @include make-col-ready($gutter: $grid-gutter-width);
    }
  }
}
