.header {
	height: 400px;
	width: 100%;
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
	background-image: url('../../img/header.jpeg');
	position: relative;
	.the__title {
		width: $is__100w;
		text-align: center;
		color: $whiteColor;
		font-size: $is_55;
		font-family: $titleFont !important;
    left: 50%;
    top: 40%;
    position: absolute;
    transform: translate(-50%, -40%);
	}
	.the__subTitle {
		color: $whiteColor;
		font-style: $is_16;
		left: 50%;
    top: 58%;
    text-align: center;
    position: absolute;
    transform: translate(-50%, -55%);
    line-height: 1.5em;
	}
}