@import "base/variables";

.main__header {
	background-color: $whiteColor;
}

.main__nav {
	padding: $is_20 0;
	-webkit-box-shadow: 0 0 2px 1px #d1d1d1;
  box-shadow: 0 0 2px 1px #d1d1d1;
	
	.navbar-light {
		padding: 0 10px;
	}

  .nav-item {
  	.avatar__item {
  		height: 50px;
	    padding-top: 0;
		  padding-bottom: 0;
		  margin-right: 15px;
		  line-height: 50px;
  	}
  }
}

.btn__login {
	font-size: 14px;
	margin: 0 5px;
	padding: 8px 15px !important;
	border-radius: 5px;
	border: solid 1px; 
	border-color: $borderColor;
  color: $blackColor;
  background-color: $whiteColor;
  text-transform: uppercase;
}

.btn__signUp {
	@extend .btn__login;
	color: $whiteColor;
	background-color: $blackColor;
}

.avatar__dropdown {
	left: -50px;
	right: $is_zero;
  margin: 0;
  padding: 0;
  border-radius: 0;

  .dropdown-item {
  	padding: $is_10;
  }
}

.card__avatar.avatar__profile {
	height: $is_50;
	width: $is_50;
	padding-top: 0;
  padding-bottom: 0;
  line-height: $is_50;
  margin: 0;
	&:focus {
		outline: 0;
		border: 0;
	}

	&:hover {
		outline: 0;
		border: 0;
	}
}

.dropdown-toggle:after {
	display: none;
}