@import "variables";
@import "utils";
@import "mixins";

@import url('https://fonts.googleapis.com/css?family=Playfair+Display:400,700,900&display=swap');

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,"Noto Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji" !important;
}


@font-face {
font-family: "Font Awesome 5";
	src: url("./node_modules/font-awesome/fonts/font-awesome-webfont.eot");
	src: url("./node_modules/font-awesome/fonts/fa-solid-900.woff") format("woff"),
	url("./node_modules/font-awesome/fonts/fa-solid-900.otf") format("opentype"),
	url("./node_modules/font-awesome/fonts/fa-solid-900.svg#filename") format("svg");
}

html, body {
	width: 100%;
	font-size: $is_16 !important;
	background-color: $bgColor;
	overflow: -moz-scrollbars-vertical;
	overflow-x: hidden;
	overflow-y: auto;
}

p {
	color: $copy;
	line-height: 1.5rem;
	font-size: $is_14;
}

img.img-responsive {
	margin: $is_10 0;
	width: $is__100w;
}

.no_pad {
	padding: $no_pad;
}

a:active, a:hover {
    outline: 0 !important;
    transition: all .18s cubic-bezier(.615,.19,.305,.91);
}

h1.the__title {}
h2.the__title {}
h3.the__title {}
h4.the__title {
	color: $smallTitle !important;
	font-size: $is_14;
	margin: $is_10 0 !important;
	text-transform: uppercase;
	font-family: $defaultFont !important;
}
h5.the__title {}
h6.the__title {}




