@import "./node_modules/bootstrap/scss/mixins";

// Grid variables
$grid-columns: 12;
$grid-gutter-width: 30px;


//Header
.header .the__title {
	@include media-breakpoint-up(xs) {
    // Larger than sm: 480px
    font-size: $is_50;
    top: 35%;
    transform: translate(-50%, -35%);
  }
  @include media-breakpoint-up(sm) {
    // Larger than sm: 480px
    font-size: $is_50;
    top: 40%;
    transform: translate(-50%, -40%);
  }
  @include media-breakpoint-up(md) {
    // Smaller than md: 768px
    font-size: $is_50;
    top: 40%;
    transform: translate(-50%, -40%);
  }
  @include media-breakpoint-up(lg) {
    // Smaller than md: 768px
    font-size: $is_60;
    top: 40%;
    transform: translate(-50%, -40%);
  }
}

.header .the__subTitle {
	@include media-breakpoint-up(xs) {
    // Larger than sm: 480px
    padding: $is_20;
    width: 100%;
    top: 65%;
    transform: translate(-50%, -65%);
  }
  @include media-breakpoint-up(sm) {
    // Larger than sm: 480px
    padding: $is_20;
    width: 100%;
    top: 60%;
    transform: translate(-50%, -60%);
  }
  @include media-breakpoint-up(md) {
    // Smaller than md: 768px
    top: 58%;
    transform: translate(-50%, -58%);
  }
  @include media-breakpoint-up(lg) {
    // Smaller than md: 768px
    top: 58%;
    transform: translate(-50%, -58%);
  }
}


// Custom mixins
.card__category {
	// @include media-breakpoint-up(xs) {
 //        // Larger than sm: 480px
 //     @include make-col(12);
 //  }
 //  @include media-breakpoint-up(sm) {
 //      // Larger than sm: 480px
 //     @include make-col(12);
 //  }
 //  @include media-breakpoint-up(md) {
 //      // Smaller than md: 768px
 //     @include make-col(6);
 //  }
 //  @include media-breakpoint-up(lg) {
 //      // Smaller than md: 768px
 //     @include make-col(2);
 //  }
}

.footer__wrapper,
.card__wrapper {
	@include make-row();
}

.card__news {
	@include media-breakpoint-up(xs) {
    // Larger than sm: 480px
    display: block;
    @include make-col(12);
    @include make-col-ready($gutter: $grid-gutter-width);
  }
  @include media-breakpoint-up(sm) {
    // Larger than sm: 480px
    display: block;
    @include make-col(6);
    @include make-col-ready($gutter: $grid-gutter-width);
  }
  @include media-breakpoint-up(md) {
    // Smaller than md: 768px
    display: block;
    @include make-col(6);
    @include make-col-ready($gutter: $grid-gutter-width);
  }
  @include media-breakpoint-up(lg) {
    // Smaller than md: 768px
    display: block;
    @include make-col(3);
    @include make-col-ready($gutter: $grid-gutter-width);
  }
}

.card__link {
  @include media-breakpoint-up(xs) {
    // Larger than sm: 480px
    display: block;
    @include make-col(12);
    @include make-col-ready($gutter: $grid-gutter-width);
  }
  @include media-breakpoint-up(sm) {
    // Larger than sm: 480px
    display: block;
    @include make-col(6);
    @include make-col-ready($gutter: $grid-gutter-width);
  }
  @include media-breakpoint-up(md) {
    // Smaller than md: 768px
    display: block;
    @include make-col(6);
    @include make-col-ready($gutter: $grid-gutter-width);
  }
  @include media-breakpoint-up(lg) {
    // Smaller than md: 768px
    display: block;
    @include make-col(4);
    @include make-col-ready($gutter: $grid-gutter-width);
  }
}
