@import "base/variables";

.navbar-brand {
	color: $logoColor;
	font-size: 2rem !important;
	font-weight: 700;
	font-family: $titleFont;
}

.the__title {
	color: $blackColor;
	font-size: $is_30;
	font-weight: 600;
	font-family: $titleFont;
}

.the__subTitle {
	color: #333;
	padding: $is_10 0;
	font-size: $is_16;
	font-weight: 500;
	font-family: $defaultFont;
}

.the__panelTitle {
	color: $blackColor;
	padding: $is_10 0;
	font-size: $is_16;
	font-weight: 500;
	font-family: $defaultFont;
}

.button {
	color: $whiteColor;
	text-align: center;
	margin: $is_zero;
	background-color: $blackColor;
	@extend .btn__login;
	text-decoration: none !important;
	:hover {
		text-decoration: none !important;
	}
}

.the__link {
	color: $blackColor;
	font-weight: 600;
}

.the__label {
	font-size: $is_14;
}

hr {
	margin: $is_30 0;
}

.the__divider {
	position: relative;
	text-align: center;
	margin: $is_25 0 ;
	display: flex;
	justify-content: center;
	.the__textHelper {
		position: relative;
    z-index: 2;
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: center;
    justify-content: center;
    width: 2rem;
    height: 2rem;
    font-size: 0.75rem;
    color: rgb(151, 153, 157);
    background-color: rgb(255, 255, 255);
    flex: 0 0 auto;
    border-width: 1px;
    border-style: solid;
    border-color: rgb(230, 230, 230);
    border-image: initial;
    border-radius: 50%;
    line-height: normal;
	}

	&:before {
		position: absolute;
    top: 50%;
    left: 0px;
    width: 100%;
    height: 1px;
    background-color: rgb(230, 230, 230);
    content: " ";
	}
}

.socialMedia__link {
	color: $whiteColor;
	text-align: center;
	margin: $is_zero;
	padding: $is_15 0;
	border-radius: $is_5;
  border: solid 1px;
	display: flex;
	justify-content: center;
	text-transform: uppercase;
	background-color: $linkedIn;
	&:hover {
		text-decoration: none;
	}
}

.socialMedia__icon {
	color: $whiteColor;
	height: $is_20;
	width: $is_20;
	margin: 0 $is_10;
}

.link__text {
  display: flex;
	align-items: flex-end;
}

.action {
	font-size: $is_14;

}

.__cancel {
	color: $blackColor;
	background-color: $bgColor;
}

.the__pencil {
	fill: $blackColor;
	height: $is_38;
  width: $is_38;
  padding: 5px;
  text-align: center;
	border-radius: $is_50;
	border: solid 1px $whiteColor;

	&:hover {
		height: $is_38;
  	width: $is_38;
		padding: 5px;
		border-radius: $is_50;
		border: solid 1px $blackColor;
		background-color: $bgColor;
	}
	
	&:focus {
		outline: $is_zero;
	}
}

.modal-header .close {
	border: 0;
	font-size: $is_20;
	&:focus {
		outline: $is_zero;
	}
}

textarea.form-control {
	min-height: $is_100;
}

label {
	padding: $is_10 0;
}

// .the__form {
// 	border: solid #ced4da 1px;
// }











