//Fontawesome


//Font
$defaultFont: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,"Noto Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
$titleFont: 'Playfair Display' !important;
$subTitleFont: 'Open Sans' !important;
$contentFont: 'Playfair Display' !important;

//Colors
$copy: #434A54;
$logoColor: #13022C;
$subTitleColor: #9fa1a3 !important;
$whiteColor: #ffffff !important;
$bgColor: #fafafa !important;
$blackColor: #1A1D20 !important;
$borderColor: #e1e1e1 !important;
$contentColor: #90949C;
$contentColor2: #4b4f56;
$darkText: #2e343b;
$lightText: #696969;
$smallTitle: #656D78;
$lightGrey: #AAB2BD;
$grey: #adaeae;
$sectionTitle: #AAB2BD; 
$linkedIn: rgb(0, 110, 163);
$border: #f8f9fa;


//Paddings Helper
$is_zero: 0 !important;
$is__100w: 100%;
$is_5: 5px;
$is_10: 10px;
$is_12: 12px;
$is_14: 14px;
$is_15: 15px;
$is_16: 16px;
$is_18: 18px;
$is_20: 20px;
$is_22: 22px;
$is_28: 28px;
$is_25: 25px;
$is_30: 30px;
$is_38: 38px;
$is_35: 35px;
$is_40: 40px;
$is_50: 50px;
$is_55: 55px;
$is_48: 48px;
$is_60: 60px;
$is_70: 70px;
$is_80: 80px;
$is_100: 100px;
$is_150: 150px;
$is_200: 200px;
$is_300: 300px;
$is_400: 400px;
$is_500: 500px;
$is_650: 650px;
$is_800: 800px;
$no_pad: 0 !important;

