.card__avatar {
    float: left;
    width: $is_60;
    height: $is_60;
    object-fit: cover;
    object-position: top;
    border-radius: 50%;
    margin: 10px;
    display: inline-block;
    overflow: hidden;
    border-radius: 50%;
}

.avatar__lg {
    width: $is_100;
    height: $is_100;
}

