@import "../base/base";

.card__icon {
	height: $is__100w;	
	width: $is__100w;
}

.card {
	height: $is_100;	
	width: $is_100;
	max-width: $is_400;
	position: relative;
}

.card__category {
	height: $is_150;	
	width: $is__100w;
	max-width: $is_150;
	margin: 0 $is_20;
	padding: $is_30;
	border: $is_zero; 
	background-image: url('https://images.unsplash.com/photo-1559589689-577aabd1db4f?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1050&q=80');
	background-size: cover;
	background-repeat: no-repeat;
	position: relative;
	.button {
		width: $is__100w;
    max-width: $is_100;
    margin: 0 auto !important;
    position: relative;
    bottom: -15px;
    left: 0 !important;
	}	
	&:first-of-type {
		margin-left: $is_zero;
	}
	&:last-of-type {
		margin-right: $is_zero;	
	}
}	

.main__startups,
.main__news {
	.card__avatar {
		float: left;
		width: $is_60;
    height: $is_60;
    object-fit: cover;
    object-position: top;
    border-radius: 50%;
    margin: 10px;
    display: inline-block;
    overflow: hidden;
    border-radius: 50%;
	}
}
.card__news {
	/*margin-bottom: $is_50;*/
	.card__avatarLink {
		@include clearfix();
		width: $is__100w;
		max-width: $is_200;
		display: block;
		margin-top: -$is_50;
		background-color: $whiteColor;
		z-index: 1;
		position: relative;
		.card__name {
			width: 100%;
	    max-width: 110px;
	    display: inline-block;
	    float: left;
	    margin-top: 25px;
		}
		.card__position {
		}
	}
	.card__body {
		padding-left: $is_50;
		position: relative;
		.the__title {
			font-size: $is_20;
			padding: $is_10 0;
			font-weight: 600;
		}
		.the__content {
			font-size: $is_14;
			color: $copy;
			line-height: $is_20;
		}

		&:after {
			content: "";
			width: $is_22;
			height: $is_10;
			position: absolute;
			left: $is_20;
			top: $is_20;
			border-top: 2px solid $logoColor;
		}
	}
}

.card__link {
	color: $blackColor;
	width: $is__100w;
	display: block;
	margin-bottom: $is_20;
  &:hover {
  	text-decoration: none !important;
  }
}


.card__profile {
	background-color: $whiteColor;
	.card__hero .card__img {
		width: $is__100w;
		height: 150px;
	}
	.card__logo {
		width: $is_80;
		height: $is_80;
		margin-top: -$is_80;
		border:solid 1px;
	}

	.card__body {
		padding: 0 $is_20;
		.the__title {
			padding: $is_10 0;
			font-size: $is_18;
			font-weight: 600;
			font-family: $defaultFont !important; 
		}
		.the__content {
			color: $contentColor;
			font-size: $is_14;
			font-weight: normal;
			line-height: $is_20;
		}
	}
	.card__footer {
		padding: $is_10 $is_20 $is_20 $is_20;
		font-size: $is_14;
		font-weight: 500;
		color: $contentColor2;
		.card__jobs {
			color: $contentColor2;
		}
	}

	&:hover {
		transition: all .18s cubic-bezier(.615,.19,.305,.91);
  	-webkit-box-shadow: 0px 9px 14px -9px rgba(0,0,0,0.4);
			-moz-box-shadow: 0px 9px 14px -9px rgba(0,0,0,0.4);
				box-shadow: 0px 9px 14px -9px rgba(0,0,0,0.4);
	}
}







