@import "base/variables";

.main__form {
	width: $is__100w;
	max-width: $is_500;
	margin: auto;
	.the__title  {
		font-family: $defaultFont !important;
	}

	.form-control {
		height: calc(2em + 0.75rem + 2px);
	}
}


.main__form {
	.the__title {
		padding: $is_20 0;
	}

	.form-control {
		&:focus {
			border-color: $darkText;
			box-shadow: 0 0 0 0.2rem rgba(3,0,0,0.25);
		}
	}

	.form-check-input {
		margin-top: $is_zero;
	}

	.button {
		font-size: $is_18;
		width: $is__100w;
		padding: $is_15 0 !important;
	}
}