.main__createProfile,
.main__signup,
.main__login {
	.the__title {
		padding: $is_20 0;
		text-align: center;
		width: 100%;
	}

	.form-control {
		height: calc(2em + 0.75rem + 2px) !important;
		&:focus {
			border-color: $darkText;
			box-shadow: 0 0 0 0.2rem rgba(3,0,0,0.25);
		}
	}

	.the__link {
		font-size: $is_14;
		font-weight: normal;
		margin: $is_15 0; 
		display: flex;
	}

	.button {
		width: $is__100w;
		padding: $is_15 0 !important;
	}
}