.main__panel {
	.panel__body {
		padding: $is_20;
		border: solid 1px $border;
		background-color: $whiteColor;
		border-radius: $is_5;
		margin-bottom: $is_30;
	}
}


.the__panel {
	.the__panelHeader {
		display: flex;
		.the__title {
			flex: auto;
		}
	}
	.the__panelBody {}
	.the__panelFooter {}
}