.swiper-container {
    margin: 0;
    padding: 20px 0;
}

.swiper-container {
    width: 100%;
    height: 100%;
  }
.swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #fff;

  /* Center slide text vertically */
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
}


.swiper-button-next, .swiper-button-prev {
    position: absolute;
    top: 50%;
    width: 27px;
    height: 44px;
    margin-top: -22px;
    z-index: 10;
    cursor: pointer;
    -moz-background-size: 27px 44px;
    -webkit-background-size: 27px 44px;
    background-size: 27px 44px;
    background-position: center;
    background-repeat: no-repeat;
}

.swiper-button-next,
.swiper-container-rtl .swiper-button-prev,
.swiper-button-prev, 
.swiper-container-rtl .swiper-button-next{
    background-image: none;
}

.swiper-pagination-bullet-active {
    background: #fff !important;
    border: solid 2px #ddd;
    padding: 5px;
}

.swiper-button-prev, .swiper-container-rtl .swiper-button-next:after {
    content: "\f087"; 
    font-family: FontAwesome;
    font-style: normal;
    font-weight: normal;
    text-decoration: inherit;
    position: absolute;
    font-size: 400px;
    color: lightblue;
    background-repeat: no-repeat;
    bottom: 0;
    right: 0;
    z-index: 2;
    background-color: $sectionTitle;
}

.swiper-button-prev, .swiper-container-rtl .swiper-button-next {
  background-image: url("data:image/svg+xml;charset=utf-8,<svg%20xmlns%3D'http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg'%20viewBox%3D'0%200%2027%2044'><path%20d%3D'M27%2C22L27%2C22L5%2C44l-2.1-2.1L22.8%2C22L2.9%2C2.1L5%2C0L27%2C22L27%2C22z'%20fill%3D'%23ffffff'%2F><%2Fsvg>") !important;
  background-size: 8px !important;
  font-weight: 700;
  fill: black !important;
}

.swiper-button-next, .swiper-container-rtl .swiper-button-prev {
  background-image: url("data:image/svg+xml;charset=utf-8,<svg%20xmlns%3D'http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg'%20viewBox%3D'0%200%2027%2044'><path%20d%3D'M0%2C22L22%2C0l2.1%2C2.1L4.2%2C22l19.9%2C19.9L22%2C44L0%2C22L0%2C22L0%2C22z'%20fill%3D'%23ffffff'%2F><%2Fsvg>") !important;
  background-size: 8px !important;
  font-weight: 700;
}


.swiper-button-next.circle, .swiper-container-rtl .swiper-button-prev.circle {
    background-repeat: no-repeat;
    background-color: $blackColor;
    border-radius: 50%;
    background-size: 30%;
    height: 25px;
    width: 25px;
}


.swiper-button-prev.circle, .swiper-container-rtl .swiper-button-next.circle {
    background-repeat: no-repeat;
    background-color: $blackColor;
    border-radius: 50%;
    background-size: 30%;
    height: 25px;
    width: 25px;
}