.main__userProfile {
	width: 100%;
	@include make-row();
}

.profile__info {
	padding: $is_20;
	background-color: $whiteColor;
  position: relative;

  .the__panel {
    padding: $is_zero;
    text-align: left;
  }

  .the__title {
    color: $blackColor;
    padding: $is_10 0;
    font-size: $is_18;
    font-weight: 500;
    font-family: $defaultFont !important;
  }

	.profile__avatar {
    width: 100%;
    display: flex;
    justify-content: center;
    text-align: center;
    .card__avatar {
        text-align: center;
    }
	}

	.profile__name {
		color: $smallTitle;
		font-size: $is_14;
		font-weight: 600;
		font-family: $defaultFont;
		text-transform: capitalize;
	}

	.profile__position {
		color: $lightGrey;
		font-size: $is_14;
		font-weight: 600;
		font-family: $defaultFont;
		text-transform: capitalize;	
	}
}





.the__avater {
  text-align: center;
  @include media-breakpoint-up(xs) {
    // Larger than sm: 480px
    display: block;
    @include make-col(12);
    @include make-col-ready($gutter: $grid-gutter-width);
  }
  @include media-breakpoint-up(sm) {
    // Larger than sm: 480px
    display: block;
    @include make-col(12);
    @include make-col-ready($gutter: $grid-gutter-width);
  }
  @include media-breakpoint-up(md) {
    // Smaller than md: 768px
    display: block;
    @include make-col(12);
    @include make-col-ready($gutter: $grid-gutter-width);
  }
  @include media-breakpoint-up(lg) {
    // Smaller than md: 768px
    display: block;
    @include make-col(4);
    @include make-col-ready($gutter: $grid-gutter-width);
  }
}

.main__userInfo {
  text-align: center;
  @include media-breakpoint-up(xs) {
    // Larger than sm: 480px
    @include make-col(12);
    @include make-col-ready($gutter: $grid-gutter-width);
  }
  @include media-breakpoint-up(sm) {
    // Larger than sm: 480px
    @include make-col(12);
    @include make-col-ready($gutter: $grid-gutter-width);
  }
  @include media-breakpoint-up(md) {
    // Smaller than md: 768px
    @include make-col(12);
    @include make-col-ready($gutter: $grid-gutter-width);
  }
  @include media-breakpoint-up(lg) {
    // Smaller than md: 768px
    @include make-col(8);
    @include make-col-ready($gutter: $grid-gutter-width);
  }
}