<div class="footer__wrapper">
	<div class="footer">
		<h2 class="footer__brandName">Manila Startup</h2>
		<p class="copy">
			About heheh ehehe About heheh ehehe About heheh ehehe About heheh ehehe About heheh eheheAbout heheh ehehe About heheh ehehe About heheh ehehe About heheh ehehe About heheh ehehe
		</p>
	</div>
	<div class="footer">
		<h2 class="the__title">Links</h2>
		<ul class="footer__list">
			<li class="list__item">
				<a href="/about" class="list__itemLink">About</a>
			</li>
			<li class="list__item">
				<a href="/startups/register" class="list__itemLink">Register Company</a>
			</li>
			<li class="list__item">
				<a href="/startups" class="list__itemLink">Startups</a>
			</li>
		</ul>
	</div>
	<div class="footer">
		<h2 class="the__title">MStartup</h2>
		<ul class="footer__list">
			<li class="list__item">
				<a href="#" class="list__itemLink">Link 1</a>
			</li>
			<li class="list__item">
				<a href="#" class="list__itemLink">Link 2</a>
			</li>
			<li class="list__item">
				<a href="#" class="list__itemLink">Link 2</a>
			</li>
	</div>
</div>
