<% if(typeof errors != 'undefined') { %>
	<div class="alert alert-danger" role="alert">
		<% errors.forEach(function(error) { %>
			<%= error.msg %>
		<% }); %>
	</div>
<% } %>

<% if (success_msg  != '') { %>
	<div class="alert alert-success" role="alert">
		<%= success_msg %>
	</div>
<% } %>

<% if (error_msg  != '') { %>
	<div class="alert alert-warning" role="alert">
		<%= error_msg %>
	</div>
<% } %>

<% if (error  != '') { %>
	<div class="alert alert-danger" role="alert">
		<%= error %>
	</div>
<% } %>
