<div class="container main__signup">
	<form class="main__form" action="/user/register" method="POST" role="form">
		<input type="hidden" name="_csrf" value="{{csrf_token}}">
		<div class="row">
			<h2 class="the__title">Create a New Account</h2>
			<p class="the__desc">It’s quick and easy</p>
		</div>
		<!-- <div class="row">			
			<div class="col">
				<a href="#" class="socialMedia__link">
					<svg role="img" title="linkedin" viewBox="0 0 100 100" class="socialMedia__icon"><path d="M100 60.52V96.5H78.57V62.93c0-8.44-3.1-14.2-10.86-14.2-5.92 0-9.45 3.89-11 7.64-.56 1.34-.7 3.2-.7 5.09V96.5H34.55s.29-56.86 0-62.75H56v8.9l-.14.2H56v-.2c2.85-4.28 7.93-10.38 19.32-10.38 14.1 0 24.68 8.97 24.68 28.25zM12.13 3.5C4.8 3.5 0 8.18 0 14.34c0 6.02 4.66 10.85 11.85 10.85h.14c7.48 0 12.13-4.83 12.13-10.85C23.98 8.18 19.47 3.5 12.13 3.5zm-10.86 93h21.44V33.75H1.27V96.5z" fill="currentColor"></path></svg>
					<span class="link__text">Sign In with Linkedin</span>
				</a>
			</div>
		</div> -->
		
		<div class="the__divider">
			<!-- <span class="the__textHelper">or</span> -->
		</div>

		<%- include ('../partials/messages'); %>

		<div class="form-group">
	    <input 
	    	class="form-control"
	    	id="name" 
				type="name" 
				name="name" 
				placeholder="Enter Full Name"
				value="<%= typeof name != 'undefined' ? name : '' %>" 
			>
	  </div>
	  <div class="form-group">
	    <input 
	    	class="form-control"
				id="email" 
				type="email" 
				name="email" 
				placeholder="Enter Email"
				value="<%= typeof email != 'undefined' ? email: '' %>" 
			>
	  </div>
	  <div class="form-group">
	    <input
	    	class="form-control"
				id="password" 
				type="password" 
				name="password" 
				placeholder="Enter Password"
				value="<%= typeof password != 'undefined' ? password: '' %>" 
			>
	  </div>
	  <div class="form-group">
	    <input
	    	class="form-control"
				id="password2" 
				type="password" 
				name="password2" 
				placeholder="Confirm Password"
				value="<%= typeof password2 != 'undefined' ? password2: '' %>" 
			>
	  </div>
	  	<a href="/user/login" class="the__link">Already have an account? Sign In</a>
	   	<!-- <div class="form-group form-check">
		    <input type="radio" class="form-check-input" id="newsletter">
		    <label class="the__label" for="newletter">Send me the manilastartup newsletter!</label>
	  	</div> -->
	  	<!-- <div class="form-group form-check">
		    <input type="radio" class="form-check-input" id="accept">
		    <label class="the__label" for="newletter">I have read and accept the <a href="#" class="the__link">Terms of Service</a> of Manila Startup</label>
	  	</div> -->
	  <button class="button" type="submit">Sign Up</button>	  
	</form>
</div>