.job__item {
	.the__title {
		font-size: $is_18;
		font-family: $defaultFont !important;
	}
	.the__link {
		font-size: $is_12;
		margin-top: $is_10;
		display: inline-block;
		@extend .btn__signUp;
		&:hover {
			text-decoration: none;
		}
	}
}