.main__profile {
	position: relative;
	.profile__hero {
		height: 250px;
		width: 100%;
		background-size: cover;
		background-position: center;
		background-repeat: no-repeat;
		background-image: url('../../img/header.jpeg');
		position: relative;
		.the__title {
			width: $is__100w;
			text-align: center;
			color: $whiteColor;
			font-size: $is_55;
			font-family: $titleFont !important;
	    left: 50%;
	    top: 40%;
	    position: absolute;
	    transform: translate(-50%, -40%);
		}
		.the__subTitle {
			color: $whiteColor;
			font-style: $is_16;
			left: 50%;
	    top: 65%;
	    text-align: center;
	    position: absolute;
	    transform: translate(-50%, -55%);
	    line-height: 1.5em;
		}
	}

	.profile__links {
		display: flex;
		.profile__social {
			margin-right: 10px;

			&:last-type-of {
				margin-right: 0;
			}
		}
	}

	.profile__content {
		margin-top: -$is_150;
		position: relative;
		z-index: 1;
		display: flex;
		.profile__header {
			display: flex;
	    flex-direction: row;
	    flex-wrap: wrap;
	    align-items: flex-end;
	    
	    .profile__logo {
				height: 150px;
				width: 150px;
				margin-right: $is_20;	
			}
				
			.profile__name {
				margin-right: $is_20;
				font-size: $is_40;
				font-weight: 600;
			}

			.profile__location,
			.profile__yearFounded,
			.profile__site {
				color: $lightText;
				margin-right: $is_35;	
				position: relative;
				text-transform: capitalize;
				&:after {
					content: "";
			    width: 4px;
			    height: 4px;
			    border-radius: 50%;
			    background-color: $lightText;
			    position: absolute;
			    right: -20px;
			    top: 50%;
			    margin-top: -2px;
				}

				&:hover {
					text-decoration: none;
				}
			}


			.profile__yearFounded {
				color: $lightText;
				margin-right: 50px;
			}
		}

		.profile__body {
			@include make-row();
			padding: $is_50 0;
		}
	}
}

.profile__job {
	.job__item {
	}
}

.main__profileSetting {
	.container {
		padding: $is_20;
	}
}


.profile__links,
.profile__location, 
.profile__site {
@include media-breakpoint-up(xs) {
    // Larger than sm: 480px
    margin-top: $is_30;
  }

  @include media-breakpoint-up(sm) {
    // Larger than sm: 480px
    margin-top: $is_30;
  }

  @include media-breakpoint-up(md) {
    // Smaller than md: 768px
    margin-top: $is_30;
  }

  @include media-breakpoint-up(lg) {
    // Smaller than md: 768px
  }
}

.main__panel {
	@include make-col-ready();
	@include media-breakpoint-up(xs) {
    // Larger than sm: 480px
    @include make-col(12);
  }

  @include media-breakpoint-up(sm) {
    // Larger than sm: 480px
    @include make-col(9);
  }

  @include media-breakpoint-up(md) {
    // Smaller than md: 768px
    @include make-col(9);
  }
  
  @include media-breakpoint-up(lg) {
    // Smaller than md: 768px
    @include make-col(9);
  }
}

.main__aside {
	@include make-col-ready();
	@include media-breakpoint-up(xs) {
    // Larger than sm: 480px
    @include make-col(12);
    margin-top: $is_50;
  }

  @include media-breakpoint-up(sm) {
    // Larger than sm: 480px
    @include make-col(12);
    margin-top: $is_50;
  }

  @include media-breakpoint-up(md) {
    // Smaller than md: 768px
    @include make-col(3);
    margin-top: $is_zero;
  }
  
  @include media-breakpoint-up(lg) {
    // Smaller than md: 768px
    margin-top: $is_zero;
    @include make-col(3);
  }
}

