<!DOCTYPE html>
<html>
<head>
	<title>Express Starter</title>
	<%- include('../partials/head'); %>
</head>

<body>
	<div class="main__header">
		<div class="main__nav">
			<div class="container no_pad">
				<nav class="navbar navbar-expand-lg navbar-light">
				  <a class="navbar-brand" href="/">Manila Startup</a>
				  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
				    <span class="navbar-toggler-icon"></span>
				  </button> <!-- navbar-toggler -->
				  
				 
				 	<div class="collapse navbar-collapse" id="navbarSupportedContent">
				    <ul class="navbar-nav ml-auto">
				      <li class="nav-item active">
				        <a class="nav-link" href="/startups">Startups<span class="sr-only">(current)</span></a>
				      </li><!-- .nav-item -->
				      <li class="nav-item active">
				        <a class="nav-link" href="/create">Register a Company</a>
				      </li><!-- .nav-item -->
				      <li class="nav-item">
				        <a class="nav-link btn__login" href="/user/login">Log in</a>
				      </li><!-- .nav-item -->
				      <li class="nav-item">
				        <a class="nav-link btn__signUp" href="/user/register">Sign Up</a>
				      </li><!-- .nav-item -->
				    </ul><!-- navbar-nav ml-auto -->
				  </div><!-- collapse navbar-collapse -->
				 
				 
				  <div class="collapse navbar-collapse" id="navbarSupportedContent">  
				      <ul class="navbar-nav ml-auto">
				        <li class="nav-item">
				          <a class="nav-link avatar__item" href="/"">Home</a>
				        </li>
				        <li class="nav-item">
				          <a class="nav-link avatar__item" href="/startups"">Browse Startups</a>
				        </li><!-- .nav-item -->
				        <li class="nav-item dropdown">
				        	<a class="dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          				<img src="../img/avatar.jpg" class="card__avatar avatar__profile">
        					</a>
        					<div class="dropdown-menu avatar__dropdown" aria-labelledby="navbarDropdownMenuLink">
					          <a class="dropdown-item" href="/dashboard">Dashboard</a>
					          <a class="dropdown-item" href="/user/logout">Log Out</a>
					        </div>
				        </li>
				      </ul>
				  </div>
				 
				</nav><!-- .navbar -->
			</div>
		</div>
	</div>
	<div class="main__content">
			<%- body %>	
	</div>
	<div class="main__footer">
		<div class="container">
			<%- include('../partials/footer'); %>
		</div>
		<%- include('../partials/foot'); %>
	</div>
	<div class="footer__copyright">
		<h5 class="footer__note">Copyright © ManilaStartup 2020. All Rights Reserved.</h5>
	</div>
</body>
</html>